body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}

p {
  font-size: 22px;
}

ul {
  font-size: 22px;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* Navigation */
#tf-menu {
	padding: 20px, 20px, 20px, 20px;
	transition: all 0.8s;
}
#tf-menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#tf-menu a.navbar-brand {
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}
#tf-menu a.navbar-brand:hover {
  color: #FDE500;
}
#tf-menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #FFF;
  font-size: 12px;
  letter-spacing: 1px;
}
#stickTogether{
    white-space: no-wrap;
}
#tf-menu.navbar-default .navbar-nav > li > a:hover {
  color: #FDE500 !important;
}
.on {
  background-color: #031018 !important;
  padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FDE500 !important;
  background-color: transparent;
  font-weight: 700;
}
.navbar-toggle {
border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #FDE500;
  border-color: #FDE500;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
  background-color: #FFF;
}
/* Home Styles */
.home {
  position: absolute;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
.intro-text {
  text-align: center;
}

.intro-text h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: -3px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 5px;

  z-index: 10;
  position: relative;
  line-height: 85px;
  top: 7%;
}

.intro-text h2 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: -3px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 5px;
  margin-bottom: -17px;
  z-index: 10;
  position: relative;
  line-height: 85px;
  top: 5%;
}
#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #455A64;
  padding-top: 50px;
}
.picture {
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.section {
  padding: 0 30px 0 30px;
  width: 100%;
}
/* About Styles */
#about-titles {
  margin-left: 6%;
}

.about-information{
  margin-left: 6%;
  margin-right: 2%;
}
#arrow {
  color: #fff;
  font-size: 10em;
}
/* About me Section */
#languages {
  margin-left: 5%;
  list-style-type: decimal;
}
/* Projects */
#projects {
  width: 100%;
}
#project-titles {
  margin-left: 6%;
}
.preview {
  width: 40%;
}
.project>* {
  display: inline-block;
}
.preview img {
  width: 100%;
}
.project-info {
  width: 55%;
  padding-left: 2.5%;
}
.project-info > * {
  margin: 0 0 10px 20px; 
}
